/* reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*fin du reset css*/

@font-face {
  font-family: "GraphikBold", sans-serif;

  src: url(/Graphik-Bold-Trial.otf);

}

body {
  /* line-height: 1; */
  font-family: "GraphikBold";
  font-weight: 600;
  font-size: 2em;  
}

h1 {
  color: black;
  text-align: center;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}


header {
  font-family: "GraphikBold";
  font-weight: 600;
  height: 49px;
  background-color: #05304f;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


blockquote {
  font-family: 'GraphikBold';
}


ul {
  display: flex;
  list-style: none;
}


li {
  display: inline;
  list-style: none;
  /* pour enlever les puces sur IE7 */
  margin: 20px;
}

.logo {
  color: yellow;
  font-size: 46px;
  display: flex;
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.ask {
  color: white;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.ask li {
  border-left: 6px solid white;
  margin: 20px;
  padding: 10px;
}

.ask li:last-child {
  border-right: 6px solid white;
}

.media {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.slide {
  background-image: url("./Albert_Einstein.jpg");
  background-position: center;
  background-size: cover;
  height: 97vh;
  width: 100%;
  color: white;

}

blockquote {
  color: white;
  text-align: center;
  margin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.article {
  background-color: #05304f;
  background-position: center;
  background-size: cover;
  height: 97vh;
  width: 100%;
}

/*partie en construction 
.vignette {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
}


.vignette-1 {
  background-image: ;
  background-position: 0 0;
  top: 0;
  left: 0;
}

.vignette-2 {
  background-position: 100px 0;
  top: 0;
  left: 100px;
}

.vignette-3 {
  background-position: 200px 0;
  top: 0;
  left: 200px;
}

.vignette-4 {
  background-position: 300px 0;
  top: 0;
  left: 300px;
}

.vignette-5 {
  background-position: 0 100px;
  top: 100px;
  left: 0;
}

.vignette-6 {
  background-position: 100px 100px;
  top: 100px;
  left: 100px;
}

.vignette-7 {
  background-position: 200px 100px;
  top: 100px;
  left: 200px;
}

.vignette-8 {
  background-position: 300px 100px;
  top: 100px;
  left: 300px;
}